body{
    color:white;
    font-family:"special elite",cursive;
}
.header_div{
background-color:red;
color: white;
}
.header_div p{
    font-weight: bold;
    font-family:"roboto",sans-serif ;
   font-size:12px;
    letter-spacing: 2px;
    color:gray;
}
.main_div button{
    width:130px;
    font-weight: bolder;
font-size:13px;
margin-top:30px;
color:gray;
}
#copy_right_footer{
    width:100%;
    bottom:0;
    text-shadow: 5px 5px 5px rgb(151,149,149);
    text-align: center;
    font-size: 13px;
    letter-spacing: 3px;
     position:fixed;
     color:blue;
     background-color: white;
     line-height:2;
}